@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
*::-webkit-scrollbar-thumb {
    background-color: darkgray;
    border-radius: 10px;
}

*::-webkit-scrollbar-track {
    background-color: lightgray;
    border-radius: 10px;
}

.swiper-pagination {
    position: relative !important;
    padding: 15px;
}
.swiper-pagination-bullet-active {
    background-color: #0274ae !important;
}
@media (min-width: 768px) {
    .swiper-pagination {
        display: none !important;
    }
}
body {
    min-height: 100vh;
}
/* Estilos para el desplegable del select */
select::-ms-expand {
    display: none; /* Ocultar la flecha desplegable en IE/Edge */
}

select::-webkit-select-arrow {
    display: none; /* Ocultar la flecha desplegable en navegadores basados en Webkit (como Chrome y Safari) */
}

/* Cambiar el tamaño y el color del desplegable */
