<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
            href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,700&display=swap"
            rel="stylesheet"
    />
    <title>Email</title>
</head>
<body>
<main style="display: flex; justify-content: center;">
    <div class="img-div" style="width: 200px;">
        <img
                src="./img/BikeMeNow.png"
                alt="Logo empresa"
                style="width: 100%;"
        />
    </div>
    <h1 style="font-family: 'Nunito Sans', sans-serif;">Bienvenido a Bike me Now</h1>
    <p style="font-family: 'Nunito Sans', sans-serif;"><span th:text="'¡Hola ' + ${username} + '!'"></span></p>
    <p style="font-family: 'Nunito Sans', sans-serif;">¿Listo para pedalear?</p>
    <p style="font-family: 'Nunito Sans', sans-serif; max-width: 500px; text-align: center; margin: 0 auto;">
        Inicia sesión y explora nuestra selección de bicicletas y
        accesorios de calidad para tu próxima aventura en dos ruedas
    </p>
    <a th:href="${loginUrl}" target="_blank" class="login-button" style="border: none; padding: 12px 24px; border-radius: 50px; color: white; background-color: #0274ae; cursor: pointer; text-decoration: none;">INICIAR SESIÓN</a>
</main>
</body>
</html>